<nav
  class="navbar text-primary max-w-4xl bg-base-300 m-auto rounded-lg justify-center"
>
  <div class="navbar-start ml-2"><a
      href="/?user={{id}}"
      class="link link-hover text-2xl"
    >Skillshare</a></div>
  <div class="navbar-end gap-2"> 
    <button class=""><a class="btn btn-circle w-max p-4" href="/user/{{#if id}}?user={{id}}{{else}}login{{/if}}"> {{#if id}}{{user.name}}{{else}}Login{{/if}} </a></button>
    <div class="dropdown dropdown-end md:hidden">
      <div class="btn btn-secondary m-1" tabindex="0" role="button"><span class=" rotate-90">|||</span></div>
      <ul class="dropdown-content mt-3 menu w-50 p-2 bg-base-300 rounded-lg" tabindex="0">
        <li class=" m-auto"><a class=" btn btn-circle w-40 m-1" href="/skill/add/?user={{id}}">ADD Skill</a></li>
      </ul>
    </div>
    <button class="hidden md:inline-block"><a class="btn btn-secondary" href="/skill/add/?user={{id}}">Add Skill</a> </button>
  </div>
</nav>