<h1 class="text-3xl text-accent shadow-accent-content p-8 pb-2">Add new Skill</h1>
<form method="post" action="/skill/udate" class=" p-6 pt-0 ">
  <label class=" input input-secondary w-full mt-6 text-xl p-1">Name:
    <input class=" text-secondary" type="text" name="key" disabled value="{{skill.name}}">
  </label>
  <label class=" input input-secondary w-full mt-6 text-xl p-1">Key:
    <input class=" text-secondary" type="text" name="" disabled value="{{skill.key}}">
    <input class=" text-secondary" type="text" name="key" hidden value="{{skill.key}}">
  </label>
  <label class=" input input-secondary w-full mt-6 text-xl p-1">Title:
    <input class=" text-secondary" type="text" name="title" required value="{{skill.title}}">
  </label>
  
  <textarea  class=" text-secondary w-full textarea textarea-secondary mt-6 text-xl p-1"
    placeholder="Enter datails" name="body" rows="5" required>{{skill.body}}</textarea>
  <div class=" w-max m-auto mt-4">  <input class=" btn btn-secondary" type="submit" value="Submit"> </div>

</form>