{{> war }}
{{#each skills}}
  
  <div class=" max-w-[54rem] rounded-2xl shadow-2xl bg-base-200 p-4 m-auto mt-2">
  <h2 class=" text-xl p-2 text-accent-content"><a class=" link link-hover" href="/skill/view/?key={{key}}&id={{id}}&user={{../user.id}}">{{title}}</a></h2>
  <p class="p-1 pl-2 ">By: <span class=" text-info">{{name}}</span><span class=" text-balance opacity-50 text-sm">  {{id}} </span></p>
  <p class=" text-secondary p-1 pl-2  h-[3lh] overflow-hidden" >{{body}}</p>
  </div>

{{/each}} 