{{> war }}
{{#each skills}}

<div class=" max-w-[54rem] rounded-2xl  bg-base-200 p-4 md:m-auto md:mt-4 m-3 mt-4">
  <div class=" flex flex-row justify-items-end">
    <h2 class=" md:text-2xl text-secondary  text-xl pl-2 "><a class=" link link-hover"
        href="/skill/view/?key={{key}}&id={{id}}&user={{../user.id}}">{{title}}</a></h2>
    <a class=" btn btn-ghost  ml-auto" href="/skill/view/?key={{key}}&id={{id}}&user={{../user.id}}"><span class=" h-5 mt-[-.2rem]" data-feather="external-link"></span>view</a>
  </div>

  <p class="p-1 pl-2 ">By: <span class=" text-info opacity-90">{{name}}</span> <span
      class=" opacity-30  ml-1 text-sm">({{id}}) </span></p>
  <p class="  p-1 pl-2  h-[3lh] overflow-hidden">{{body}}</p>
</div>

{{/each}}