<div class=" max-h-4xl shadow-2xl p-4">
  <h1 class=" text-2xl p-4 text-shadow-2xs text-shadow-accent-content">{{skill.title}}</h1>
  <p class="p-1 pl-4">By: <a class=" link link-info  inline" href="/user/view/?user={{../user.id}}&id={{skill.id}}">{{skill.name}}</a><span class=" text-balance opacity-50 text-sm">  {{skill.id}} </span></p>
  <p class="p-4 text-lg ">{{skill.body}}</p>
  <div class=" w-max m-2 p-2" {{#if self}}{{else}} hidden {{/if}}>
   <button><a class=" btn btn-secondary" href="/skill/edit/?key={{skill.key}}&user={{user.id}}">Edit</a></button> 
    <button><a class=" btn btn-warning "  href="/skill/destroy/?key={{skill.key}}&user={{user.id}}">Delete</a></button>
  </div>

  <div class=" p-6 m-2 rounded-2xl bg-base-200">
    <h2 class="p-2 text-xl">Add comment:</h2>
    <form method="get" class=" text-xl" action="/skill/view/addcomment">
      <input type="text" name="id" hidden value="{{skill.id}}">
      <input type="text" name="key" hidden value="{{skill.key}}">
      <input type="text" name="user" hidden value="{{user.id}}">

      <label class=" input input-info text-lg w-full mt-2">Name:
        <input type="text" name="name" required>
      </label>
      <label class=" input input-info text-lg w-full mt-2">Comment:
        <input type="text" name="body" required>
      </label>
      <input class=" btn btn-neutral mt-2" type="submit" value="Save">
    </form>
  </div>

  <hr class=" ml-4">
  <h3 class=" text-2xl pl-4 mt-4  ">Comments</h3>
  <div class=" bg-base-100 rounded-2xl p-4">

    {{#each comments}}
    <div class="m-1 p-1 bg-base-300 rounded-xl flex flex-row justify-items-end">
      <div>
        <p class="m-1">{{body}}</p>
        <p class="m-1">By: <span class=" text-secondary">{{name}}</span> </p>
      </div>
      <button class="btn  btn-ghost ml-auto text-warning">Delete</button>
    </div>
    {{/each}}
  </div>

</div>