<div class="max-w-3xl m-auto">
<h1 class="p-2 text-3xl text-accent">About Auther <span class=" pl-2 underline  uppercase">{{auther.name}}</span></h1>
<div class="  m-auto mt-2 mb-2 p-4 rounded-2xl border-2 border-accent shadow-4xl">
<h2 class="text-xl m-2">Name :<span class=" pl-4 text-4xl text-shadow-primary text-secondary">{{auther.name}}</span></h2>
<hr>
<p class="m-2">Email :<span class="pl-4">{{auther.email}}</span> </p>
<p class=" m-2">About :<span class=" text-xl text-secondary-content pl-4"></span> {{auther.about}}</p>
</div>
<h2 class="p-4 pl-1 text-2xl">Shared Skills:</h2>
{{#each skills}}

  <div class=" max-w-3xl rounded-2xl shadow-2xl bg-base-200 p-4 m-auto mt-2">
  <h2 class=" text-xl text-accent-content"><a href="/skill/view/?key={{key}}&id={{id}}&user={{../user.id}}">{{title}}</a></h2>
  <p>By: <a class=" link link-info inline" href="">{{name}}</a></p>
  <p class=" text-secondary p-1" >{{body}}</p>
  </div>

{{/each}} </div>