<div class=" max-h-4xl shadow-2xl p-4">
  <h1 class=" text-2xl text-secondary p-4 text-shadow-2xs ">{{skill.title}}</h1>
  <p class="p-1 pl-4">By: <a class=" link link-info  inline"
      href="/user/view/?user={{user.id}}&id={{skill.id}}">{{skill.name}}</a><span
      class=" text-balance text-info ml-1 opacity-50 text-sm"> ({{skill.id}}) </span></p>
  <p class="p-4 text-accent-content text-lg ">{{{skill.body}}}</p>
  <div class=" w-max m-2 p-2" {{#if self}}{{else}} hidden {{/if}}>
    <button><a class=" btn btn-secondary" href="/skill/edit/?key={{skill.key}}&user={{user.id}}"><span class=" h-5"
          data-feather="edit"></span> Edit</a></button>
    <button><a class=" btn btn-warning " href="/skill/destroy/?key={{skill.key}}&user={{user.id}}"><span class=" h-5"
          data-feather="trash-2"></span> Delete</a></button>
  </div>

  <div class=" p-4 m-2 rounded-2xl bg-base-200">
    <h2 class="p-2 text-xl">Add comment:</h2>
    <form method="get" class=" text-xl" action="/skill/view/addcomment">
      <input type="text" name="id" hidden value="{{skill.id}}">
      <input type="text" name="key" hidden value="{{skill.key}}">
      <input type="text" name="user" hidden value="{{user.id}}">

      <label class=" input input-info text-lg w-full mt-2">Name:
        <input class=" text-secondary " type="text" name="name" required {{#if user}} disabled {{/if}}
          value={{user.name}}>
        <input type="text" name="{{#if user}}name{{/if}}" value="{{#if user}}{{user.name }}{{/if}}" hidden>
      </label>
      <label class=" input input-info text-lg w-full mt-2">Comment:
        <input class=" text-secondary" type="text" name="body" required>
      </label>
      <button class=" btn btn-neutral mt-2" {{#unless user}} disabled {{/unless}}><span class=" h-5"
          data-feather="check-square"></span>Add Comment
        <input type="submit" value=""> </button>
    </form>
    <div id="war-div" {{#if user}} hidden {{/if}} role="alert" class="  alert alert-{{wtype}} p-2 m-4  mt-2 mb-4">
      <span class=" text-md ml-1">🛈 Login first to Add comments</span>
      <button id="war-btn" class=" btn btn-ghost text-2xl ml-auto">⤫</button>
    </div>
  </div>

  <hr class=" ml-4">
  <h3 class=" text-2xl pl-4 mt-4  ">Comments</h3>
  <div class=" bg-base-100 rounded-2xl p-4">

    {{#each comments}}
    <div class="m-1 p-1 ml-4 bg-base-300 rounded-xl flex flex-row justify-items-end">
      <div class=" pl-2">
        <p class="m-1 text-lg">{{body}}</p>
        <p class="m-1">By: <span class=" text-secondary">{{name}}</span> </p>
      </div>
      <button {{#unless ../user}} disabled {{/unless}} class="btn  btn-ghost ml-auto text-warning"><a
          href="/skill/view/destroy-comment/?key={{../skill.key}}&id={{../skill.id}}&user={{../user.id}}&cid={{cid}}"><span class=" h-5" data-feather="trash-2"></span> </a></button>
    </div>
    {{/each}}
  </div>

</div>